h1 {
  color: purple;
  text-align: center;
  font-size: 18;
  font-family: Rooney;
  
}

p {
  color: #FFBF00;
  text-align: center;
  font-size: 18 px;
  font-family: verdana;
  background: #601A35;
  padding-bottom: 15px;
}

fig-caption {
   color: black; 
   font-family: helvetica;
   font-size: 14 px;
}

img {
   padding-top: 10 px;
   padding-bottom: 10 px;
}

nav ul {
  background-color: white;
  text-color: purple;
  list-style: none;
  padding: 0;
  width: 300px;
  border: 2px solid purple;
}

nav ul li {
  border-bottom: 2px solid purple;
  padding: 5px;
}
