h1 {
  color: purple;
  text-align: center;
  font-size: 18;
  font-family: Rooney;
  
}
p {
  color: #FFBF00;
  text-align: center;
  font-size: 18 px;
  font-family: Verdana;
  background: #601A35;
  
}
img {
  background: pink;
}
